@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
margin: 0;
padding: 0;
}

body {
 font-family: "Plus Jakarta Sans", sans-serif;
 font-weight: 600;   
 color: #fff;
}

img { 
    max-width: 100%;
}

.wrapper { 
background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

header {
  padding: 50px 0;
}

.menu {
    display: flex;
    list-style: none;
    gap: 40px;
    }
    